@import url(../style/vars.css);
body {
    max-width: 1440px;
    width: 100%;
    max-height: 9068px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.header {
    max-width: 100%;
}
.header_top {
    background-image: url(../assets/images/images_tour/ds_store.png);
    min-height: 600px;
}
.header_container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header_container_top {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav_list {
    display:flex;
}
.nav_list_item {
    margin-right: 50px;
}
.nav_list_item a, .phone a, .phone_button, .header_subtitle,.button_test,.subtitle_test,.tour_button a,.button_test a {
    color: #FFFFFF;
}
.header_up_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_up_row__title_box {
    display: flex;
    align-content: center;
    max-width: 595px;
    margin-top: 108px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
}
.phone_button {
    display: block;
    padding: 12px 20px;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
}
.nav_list_item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
}
.nav_list_item_booking a{
    color: #037E8C;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
}
.header_title_box__h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 0.045em;
}
.scroll_items {
    transform: rotate(90deg);
}
.header_subtitle_box {
    max-width: 644px;
    margin-top: 37px;
}
.header_tour_button_box {
    max-width: 274px;
    height: 55px;
    margin-top: 82px;
    margin-bottom: 192px;
    background-color: #037E8C;
    border-radius: 9px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour_button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    padding-left: 20px;
    color: #FFFFFF;
}
.vector_button {
    margin-right: 12px;
}
.section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.section_benefits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 212px;
    grid-gap: 31px;
    margin-bottom: 100px;
  }
  
  .benefits_title{
    font-size: 16px;
    padding: 21px 0 21px 0;
  }
  
  .benefits{
    display: flex;
    flex-direction: column;
  }
  
  .benefits_logo{
    padding-top: 47px;
    height: 36px;
  }
  
  .benefits_ellipse{
    height: 45px;
    position: relative;
    z-index:-1;
    right: 32px;
  }
  .section_tour {
  background-color: #F4F4F4;
  max-height: 1789px;
  max-width: 1500px;
  width: 100%;
  }
    .section__title {
        justify-content: center;
line-height: 46.8px;
padding-top: 57px;
    }
.title {
    display: flex;
    font-size: 36px;
font-weight: 700;
}
.item {
    max-width: 1440px;
    width: 100%;
    max-height: 404px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 70px;
    margin-top: 67px;
}
.text-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 475px;
    padding-right: 30px;
    flex-shrink: 0;
}
.sbt {
 font-weight: 600; 
 margin-bottom: 20px;  
}
.item__line {
    align-self: flex-start;
 padding: 25px;
}
.text-item__ul {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 17.39px;
}
.text-item__li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.text-item__span {
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
}
.text-item__route {
    font-size: 18px;
line-height: 23.4px;
}
.text-item__p {
   font-weight: 400;
font-size: 14px;
line-height: 22.4px;
margin-bottom: 39px;
}
.subtitle {
font-size: 36px;
line-height: 39.13px;
}
.subtitle__span {
    font-weight: 700;
font-Size: 24px;
line-height: 26.09px;
}
.btn {
    display: flex;
    max-width: 175px;
Height: 45px;
width: 100%;
border-radius: 9px;
align-items: center;
justify-content: center;
font-weight: 600;
font-size: 14px;
}
.text-item__button {
    display: flex;
    max-width: 368px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.button_white {
    color: #037E8C;  
    border: 1.5px solid #037E8C;
}
.button_green {
    background: #037E8C;
    color: #ffff;
}
.item-scroll {
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: flex-start;
}
.item-scroll__foto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
}
.item-reverse {
    flex-direction: row-reverse;
    margin-top: 140px;
    margin-bottom: 140px;
}
.item-scroll__scroll-2 {
    display: flex;
    justify-content:flex-end;
}
.video-block {
    background-image: url(../assets/video/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 594px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-block__video {
    background-image: url(../assets/video/stop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 430px;
    max-width: 1078px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-block__btn-img {
position: absolute;
   
}
.video-block__text {
    color: #ffff;
    font-weight: 500;
font-size: 24px;
line-height: 31px;
position: absolute;
left: 40px;
top: 30px;
}
.terms {
    background-image: url(../assets/images/page_home/terms.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 523px;
    max-width: 1440px;
    width: 100%;
}
.terms__title {
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    height: 94px;
    margin: 0 auto;
    padding-top: 50px;
}
.terms__table {
    display: grid;
    grid-template-columns: repeat(3, 385px);
    grid-template-rows: repeat(2, 110px);
    gap: 30px;
    max-width: 1280px;
    width: 100%;
    max-height: 254px;
   margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-content: center;

}
.terms__cell {
    background-color: #ffff;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 9px;
    padding-left: 5px;
}
.terms__text {
    font-weight: 400;
font-size: 14px;
line-height: 21px;
padding-left: 23px;
}
.terms__text-bold {
    font-weight: 600;
}