@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-b';
    src: url(../fonts/Montserrat-Black.ttf);
}
body {
    font-family: 'Montserrat';
}
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body {
    max-width: 1440px;
    width: 100%;
    max-height: 9068px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.header {
    max-width: 100%;
}
.header_top {
    background-image: url(../assets/images/images_tour/ds_store.png);
    min-height: 600px;
}
.header_container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header_container_top {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav_list {
    display:flex;
}
.nav_list_item {
    margin-right: 50px;
}
.nav_list_item a, .phone a, .phone_button, .header_subtitle,.button_test,.subtitle_test,.tour_button a,.button_test a {
    color: #FFFFFF;
}
.header_up_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_up_row__title_box {
    display: flex;
    align-content: center;
    max-width: 595px;
    margin-top: 108px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
}
.phone_button {
    display: block;
    padding: 12px 20px;
    margin-top: 11px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 9px;
}
.nav_list_item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
}
.nav_list_item_booking a{
    color: #037E8C;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
}
.header_title_box__h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 0.045em;
}
.scroll_items {
    transform: rotate(90deg);
}
.header_subtitle_box {
    max-width: 644px;
    margin-top: 37px;
}
.header_tour_button_box {
    max-width: 274px;
    height: 55px;
    margin-top: 82px;
    margin-bottom: 192px;
    background-color: #037E8C;
    border-radius: 9px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour_button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    padding-left: 20px;
    color: #FFFFFF;
}
.vector_button {
    margin-right: 12px;
}
.section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.section-benefits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 245px;
    grid-gap: 31px;
    /*max-width: 1440px;
    width: 100%;*/
    margin: 0 auto;
  }
  
  .benefits__title{
      font-weight: 400;
    font-size: 18px;
    line-height: 20.8px;
    padding: 21px 0 21px 0;
  }
  .benefits__text_p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20.8px;
    color: #121214;
  }
  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .benefits__img {
      position: relative;
  }
  .benefits__ellipse{
    position: relative;
    z-index:-1;
    right: 32px;
  }
  .section-tour {
    background-color: #F4F4F4;
    max-height: 1789px;
    max-width: 1500px;
    width: 100%;
    padding-bottom: 100px;
    }
  .title {
    justify-content: center;
    line-height: 46.8px;
      display: flex;
      font-size: 36px;
  font-weight: 700;
  padding-top: 57px;
  }
  .item {
      max-width: 1440px;
      width: 100%;
      max-height: 580px;
      display: flex;
      align-items: center;
      margin-top: 67px;
  }
  .item__line {
    align-self: flex-start;
 padding: 20px;
}
  .text-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      max-width: 475px;
      padding-right: 30px;
      flex-shrink: 0;
  }
  .sbt {
   font-weight: 600; 
   margin-bottom: 20px;  
  }
  .text-item__rate {
    line-height: 26px;
    display: flex;
    font-size: 24px;
font-weight: 700;
  }
  .text-item__ul {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 17.39px;
  }
  .text-item__li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 16px;
      line-height: 17.39px;
  }
  .text-item__route {
      font-size: 18px;
  line-height: 23.4px;
  }
  .text-item__p {
     font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  margin-bottom: 39px;
  }
  .text-item__subtitle {
  font-size: 36px;
  line-height: 39.13px;
  }
  .text-item__span {
      font-weight: 300;
  font-Size: 16px;
  line-height: 17.39px;
  padding: 0 10px 0 10px;
  }
  .btn {
      display: flex;
      max-width: 175px;
  Height: 45px;
  width: 100%;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  }
  .text-item__button {
      display: flex;
      max-width: 368px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
  }
  .text-item__button_white {
      color: #037E8C;  
      border: 1.5px solid #037E8C;
  }
  .text-item__button_green {
      background: #037E8C;
      color: #ffff;
  }
.item-scroll {
display: flex;
overflow-x: auto;
align-items: center;
justify-content: space-between;
max-width: 800px;
width: 100%;
max-height: 370px;
}
.item-scroll__foto {
    margin-right: 10px;
}
.item-reverse {
    flex-direction: row-reverse;
    margin-top: 140px;
    margin-bottom: 140px;
}
.video-block {
    background-image: url(../assets/video/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 594px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.team-block {
    max-width: 100%;
    background-image: url(../assets/images/page_excr/back.png);
}
.team-block__up {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.team-block__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: #121214;
}
.team-block__row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.terms {
    background-image: url(../assets/images/page_home/terms.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 523px;
    max-width: 1440px;
    width: 100%;
}
.terms__title {
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}
.terms__table {
    display: grid;
    grid-template-columns: repeat(3, 385px);
    grid-template-rows: repeat(2, 110px);
    gap: 30px;
    max-width: 1280px;
    width: 100%;
    max-height: 254px;
   margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-content: center;

}
.terms__cell {
    background-color: #ffff;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 9px;
    padding-left: 5px;
}
.terms__text {
    font-weight: 400;
font-size: 14px;
line-height: 21px;
padding-left: 23px;
}
.terms__text-bold {
    font-weight: 600;
}
.section_test {
    max-width: 100%;
    max-height: 350px;
    background-image: url(../assets/images/icons/icons_tour/mask_group.png);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.section_title_test {
    margin-top: 81px;
    display: flex;
    justify-content: center;
}
.title_test {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
color: #FFFFFF;
}
.subtitle_test {
    margin-top: 19px;
    display: flex;
    justify-content: center;
}
.button_test_box {
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 94px;
}
.button_test {
    background-color: #037E8C;
}
.section_photo_scroll {
    max-width: 100%;
    max-height: 600px;
    background-color:#F4F4F4;
    margin-bottom: 100px;
}
.scroll_title {
    padding: 100px 0 100px;
    display: flex;
    justify-content: center;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
color: #121214;
}
.section_photo_box {
    display: flex;
    overflow-x: auto;
}
.section_photo_box::-webkit-scrollbar{
    width: 0;
}
.section_scroll_item {
    margin-right: 27px;
}
.section_scroll_sign {
    padding: 65px 0 65px;
    display: flex;
    justify-content: center;
}
.section_faq-extra__container {
    min-height: 100%;
    background-color: white;
    margin-bottom: 42px;
}

.faq_container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin: 0 auto;
    width: 90%;

}

.faq_container__container {
    flex-basis: 45%;
}

.faq {
    background-color: transparent;
    border: 1px solid #9FA4A8;
    padding: 3%;
    overflow: hidden;
    margin: 2% 0;
    transition: 0.3s ease;
}

.faq-active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.faq-active .faq-text {
    display: block;
}

.faq__title {
    display: flex;
    cursor: pointer;
    padding: 6px 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    line-height: 30px;
    transition: 0.4s;
}

.faq__title:after {
    content: '\276F';
    color: rgb(8, 8, 8);
    font-size: 150%;
    margin-left: 60%;
}

.faq__title.active:after {
    content: "\2212";
}

.faq-text {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0;
    text-align: left;
}

.faq-text>div {
    padding: 6px 10px;
}

.have-questions {
    padding: 3% 5% 0 0;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.have-questions * {
    margin-bottom: 5%;
}
.have-questions__button {
    background-color: #037E8C;
    color: #fff;
    padding: 2% 5% 2% 5%;
    border-radius: 9px;
    border: #037E8C;
}
.gifts{
    height: 1123px;
    max-width: 1440px;
    width: 100%;
    background-image: url(../assets/img/gifts/8qcdvQ.png);
   }
  
 .gifts__special-offer{
    height: 510px;
    background-color: white;
 }
 .gifts__sale{
    padding-top: 45px;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    }
    
    .gifts__sale, .gifts__birthday, .gifts__cottages, .gifts__sertificate-info, .gifts__sertificate-title, .gifts__sertificate-image{
    display: flex;
    }
    
    .gifts__birthday{
        background-image: url(../assets/img/gifts/HB.png);
        background-repeat: no-repeat;
        width: 636px;
        height: 311px;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 29px;
        padding-top: 26px;
    }
    
    .gifts__birthday-info, .gifts__cottages-info{
       width: 44%; 
    }
    
    .gifts__sale-title{
        font-size: 36px;
        font-weight: bolder;
        padding-bottom: 19px;
    }
    
    .gifts__sale-title,.gifts__sale-subtitle, .gifts__sertificate-subtitle, button {
        color: #037E8C;
    }
    .gifts__button {
        display: flex;
        border: 1.5px solid #037E8C;
        border-radius: 9px;
        font-size: 14px;
        line-height: 130%;
        max-width: 175px;
        width: 100%;
        height: 45px;
        align-items: center;
          justify-content: center;
          color: #037E8C;
    }
    .gifts__sale-subtitle{
        font-size: 24px;
        padding-bottom: 19px;
    }
    
    .gifts__cottages{
    background-image: url(../assets/img/gifts/Ex-Kuban.png);
    background-repeat: no-repeat;
    width: 636px;
        height: 311px;
        flex-direction: column;
       align-items: flex-end;
       padding-top: 26px;
    }

.gifts__sertificate-subtitle{
    text-align: center;
    font-size: 20px;
    font-size: 20px;
    padding-top: 13px;
    line-height: 140%;
}
.gifts__sertificate-title{
    flex-direction: column;
    justify-content: center;
}
.sertificate-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 46px;
}
button{
    display: flex;
border: 1.5px solid #037E8C;
border-radius: 9px;
font-size: 14px;
line-height: 130%;
max-width: 277px;
width: 100%;
height: 45px;
align-items: center;
  justify-content: center;
}
.gifts__sertificate-info {
    display: flex;
    flex-direction: column;
    width: 37%;
}
.gifts__sertificate-text{
   padding-bottom: 30px;
    line-height: 172.5%;
    font-size: 18px;
    padding-right: px;
}

.gifts__sertificate-image{
    background-image: url(../assets/img/gifts/MaskGroup_present.png);
    width: 636px;
    height: 311px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: px;
}

.gifts__sertificate-image-info{
    width: 37%;
  padding-top: 147px; 
padding-left: 124px;
}

.gifts__sertificate-image-title{
    display: flex;
    font-weight: 700;
font-size: 24px;
line-height: 124%;
color: #FFFFFF; 
max-width: 226px;
width: 100%;
height: 61px;
}

.gifts__sertificate-image-subtitle{
    display: flex;
    max-width: 300px;
    width: 100%;
    height: 22px;
    font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
padding-top: 22px;
}

.gifts__sertificate-image-logo{
    display: flex;
    width: 104px;
    height:  133px;
  align-self: center;
  margin-left: 220px;
}
.extra-service {
    margin: 61px 0px 109px 0px;
}
.extra_container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "ex1 ex2 ex3 ex4"
        "ex5 ex6 ex7 ex8";
    column-gap: 2%;
    row-gap: 2%;
    justify-content: center;
    padding-top: 55px;
}

.extra_container * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.extra-1,
.extra-2,
.extra-3,
.extra-4,
.extra-5,
.extra-6,
.extra-7,
.extra-8 {
    max-width: 309px;
    height: 303px;
    background-color: #69696913;
    border-radius: 9px;
}

.extra_container a {
    padding: 3% 30% 8% 8%;
    color: #037E8C;
    text-decoration: none;
}

.extra_container img {
    border-radius: 9px;
}

.extra-1 {
    grid-area: ex1;
}

.extra-2 {
    grid-area: ex2;
}

.extra-3 {
    grid-area: ex3;
}

.extra-4 {
    grid-area: ex4;
}

.extra-4 a {
    padding-right: 2%;
}

.extra-5 {
    grid-area: ex5;
}

.extra-6 {
    grid-area: ex6;
}

.extra-7 {
    grid-area: ex7;
}

.extra-8 {
    grid-area: ex8;
}
.footer_container {
    display: flex;
    flex-direction: column;
}

.footer_container_top {
    display: flex;
    flex-flow: row nowrap;
}

.footer_container__left-part {
    flex: 1 1 50%;
    border-top: #037E8C 3px solid;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    margin: 15px 0px 69px 0px;
}

.footer__contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts__ellipse {
    display: flex;
    flex-basis: 50%;
}

.footer__contacts_schedule {
    display: flex;
    flex-direction: column;
    height: 89px;
    justify-content: space-around;
}

.footer__contact-us_title {
    flex-basis: 100%;
    margin-bottom: 16px;
}

.footer__contact-us__links {
    display: flex;
    justify-content: space-around;
    max-width: 103px;
}

.footer__contacts_home,
.footer__contacts_time,
.footer__contacts_email {
    max-width: 100%;
}

.footer__contacts_phone {
    background-color: #037E8C;
    border-radius: 50%;
    padding: 3%;
    max-width: 100%;
}

.footer_container_footer {
    flex-basis: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 65px 0px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    height: 88px;
}

.footer_nav_list {
    display: flex;
}

.footer_nav_list_item {
    margin-right: 50px;
}

.footer_nav_list_item a {
    color: black;
    text-decoration: none;
}

.footer_container__map {
    padding-left: -10%;
    overflow: visible;
}